.jumbotron{
    background-image: url("../images/logo.jpg");
    background-size: cover;
}

.jumbotronDiv{
    padding: 20px;
    margin-left: 20px;
    width: 40%;
    color: white;
    background: rgba(44, 62, 80, 0.38);    
    border-radius: 10px;
}
footer {
    background-color: #2c3c50;
    color: #f5f5f5;
    padding: 12px;
}

article {
    margin: 10px;
    padding: 50px 80px 100px 0px;
}