.jumbotron{
    background-image: url("../images/logo.jpg");
    background-size: cover;
}

.jumbotronDiv{
    padding: 20px;
    margin-left: 20px;
    width: 40%;
    color: white;
    background: rgba(44, 62, 80, 0.38);    
    border-radius: 10px;
}
footer {
    background-color: #2c3c50;
    color: #f5f5f5;
    padding: 12px;
}

article {
    margin: 10px;
    padding: 50px 80px 100px 0px;
}
#myBtn {
    display: none;
    position: fixed;
    font-size: 30px;
    bottom: 30px;
    right: 20px;
    z-index: 1;
    border: none;
    outline: none;
    background-color: transparent;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    color: #1a242f;
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;

}
#myBtn:hover {
    color: white;
    background-color: rgba(42, 58, 77, 0.45);
}
#sidebar_container {
    float: right;
    width: 234px;
    margin-top: 20px;
}
ul, menu, dir {
    display: block;
    list-style-type: circle;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
a {
    color:  #1a242f;
    padding-bottom: 22px;

}

.sidebar {
    width: 200px;
    margin: 0 0 16px 0;
    background: #ddd; /* Show a solid color for older browsers */
    background: -moz-linear-gradient(#fff, #fffdec);
    background: -o-linear-gradient(#fff, rgba(255, 253, 237, 0));
    background: -webkit-linear-gradient(#fff, #E6E4D4);
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
    border: 1px solid #eee;
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border: 7px 7px 7px 7px;
    padding: 0 15px 5px 13px;
}
